/*****************************************
		SITE  IE7 with Responsive feature
******************************************/

/** 		DROP DOWN MENU 		**/

@media screen and (max-width: 979px) {
	
	.drop-down ul {
    width: 98% !important;
    left : 1% !important;
    max-width:none;
 	}
 	
	.drop-down:hover ul {
    max-height: none;
	}
	
	.drop-down ul ul {
	width : auto !important;
	left : 0 !important;
	}
	
	.drop-down span.title_menu {
	width:85px;
	}

}

/* Phone and little tablet */
@media screen and (max-width: 767px) {

	.drop-down span.title_menu {
	float:right;
	width:auto;
	}

}